<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FileException</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css">
    </link>
    <link rel="stylesheet" href="/resources/css/bootstrap-theme.min.css">
    </link>
    <script src="/resources/js/bootstrap.min.js"></script>
</head>
<body>

 <p align="center">FileException</p>
<div align="center">
    <td th:text="${message}"></td>
</div>
</body>
</html>
