<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css"> </link>
    <link rel="stylesheet" href="/resources/css/bootstrap-theme.min.css"> </link>
    <script src="/resources/js/bootstrap.min.js" ></script>
    <style type="text/css">
        body{background :url('/resources/images/backgroundimage.jpg') no-repeat;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;}
    </style>

    <script
            src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>

    <script type="javascript" >
        function Test() {
//                alert($("#order-api_id").value
            var a=document.getElementById("order-api_id").value;
            alert(a);
            console.log("ceshi");
        }
    </script>
</head>
<body>

<div class="jumbotron">
    <h1>Hello </h1>
    <p>WELCOME TO MY DEMO</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">TO more</a></p>
</div>

<div class="container-fluid">
<div class="row">

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img data-src=" " alt="..." />
            <div class="caption">
                <h3>Function One/Order-api/id</h3>
                <p>...</p>
                <input  id="order-api_id" type="text"/>
                <p><a  id="Testorder_id" href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img data-src=" " alt="..." />
            <div class="caption">
                <h3>Function Two</h3>
                <p>...</p>
                <p><a href="#"  onclick="Test()" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img data-src=" " alt="..." />
            <div class="caption">
                <h3>Function Three</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>

</div>

   <div class="row">

       <div class="col-sm-6 col-md-4">
           <div class="thumbnail">
               <img data-src=" " alt="..." />
               <div class="caption">
                   <h3>Function Four</h3>
                   <p>...</p>
                   <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
               </div>
           </div>
       </div>

       <div class="col-sm-6 col-md-4">
           <div class="thumbnail">
               <img data-src=" " alt="..." />
               <div class="caption">
                   <h3>Function Five</h3>
                   <p>...</p>
                   <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
               </div>
           </div>
       </div>

   </div>

    <div class="row">


        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img data-src=" " alt="..." />
                <div class="caption">
                    <h3>Function Six</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img data-src=" " alt="..." />
                <div class="caption">
                    <h3>Function Seven</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>


    </div>


</div>
</body>
</html>
