<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Success</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css"> </link>
    <link rel="stylesheet" href="/resources/css/bootstrap-theme.min.css"> </link>
    <script src="/resources/js/bootstrap.min.js" ></script>
</head>
<body>

<h1> <p class="text-center"> login_Out_Success </p></h1>
</body>
</html>